<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninjas</title>
    <link rel="stylesheet" type="text/css" href="../static/ninjas.css">
</head>
<body>
    <div class = "wrapper">
        <p>Ninjas are pivotal figures within the annals of Eastern history.</p>
        <ul>
            <h2>Some Notable Ninjas: </h2>
            <li>Fujibayashi Nagato</li>
            <li>Momochi Sandayu</li>
            <li>Ishikawa Goemon</li>
            <li>Mochizuki Chiyome</li>
        </ul>
    </div>
</body>
</html>